<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("partials/header.ejs") %>
    <link rel="stylesheet" href="style.css">
    

</head>
<body>
    
    <div class="header">

       
        <div class="inner-header flex">
        
       
       
        <h1>Unleash Your Thoughts, One Post at a Time: Blog Web — Where Ideas Take Flight!</h1>
    </div>
        <div>
             <button class="btn btn-info rounded-pill px-3" type="button"><a href="/cblog" class="nav-link px-2 text-white">Type your own Blog</button></a>
        </div>
       
       
        
        
        <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
        </g>
        </svg>
        </div>
        <!--Waves end-->
        
        </div>
        <!--Header ends-->
        
        <!--Content starts-->
        <div class="content flex">
          <p>By Harsh Gupta </p>
        </div>
                
        
      

      
</body>
<%- include("partials/footer.ejs")%>
</html>